.home-btn{
    text-align: center;
    margin: 0 auto;
    width: 200px;
    display: flex;
    justify-content: center;
}
.main-title{
    text-align: center;
    margin: 30px 0px;
    font-weight: 600;
    color: #878787;
}
.action-btn{
    display: flex;
    justify-content: space-evenly;
}
.company-logo{
    width: 100px;
    border-radius: 50%;
}